* {
	margin: 0;
}

body {
	margin-left: 5px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

.nota {
	background-color: ;
	width: 250px;
	height: 300px;
	position: relative;
	display: inline-block;
	border: 3px solid black;
	border-radius: 5px;
	margin: 25px;
}

.divBotoes {
	width: 100%;
	height: 15%;
}

.divTexto {
	height: 85%

}

.btn {
	float: right;
	height: 45px;
	width: 45px;
	border: 3px solid black;
	border-bottom: none;
	border-right: none;
	background-color: white;
}

.btnSalvar {
	height: 45px;
	width: 45px;
	border: 3px solid black;
	background-color: white;
}

.fade-out{
	opacity: 0;
	transition: 1s;
}

.invisivel{
	display: none;
}